/* Famosa Responsividade */

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

@media only screen and (max-width: 768px) {
  /* Para smartphones: */
  [class*="col-"] {
    width: 100%;
  }
}

/* Fim da Famosa Responsividade*/

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
	font-family: Metropolis;
}

body {
	-webkit-background-size:cover;
	background-size:cover;
	background-position: center center;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: white;
}

/* Menu de Navegação \o/ */

.menu-area li a {
	text-decoration: none;
}

.menu-area li {
	list-style-type: none;
}

.custom-padding{
	padding-top: 15px;
}

nav {
	position: relative;
	width: calc(100% - 60px);
	margin: 0 auto;
	padding: 20px 0;
	background: #333;
	z-index: 1;
	text-align: right;
	padding-right: 2%;
}

.logo {
	width: 20%;
	float: left;
	text-transform: uppercase;
	color: #fff;
	font-size: 25px;
	text-align: left;
	padding-left: 2%;
}

.menu-area li {
	display: inline-block;
}

.menu-area a {
	color: #fff;
	font-weight: 300;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: block;
	padding: 0 25px;
	font-size: 14px;
	line-height: 30px;
	position: relative;
	z-index: 1;
	border-radius: 24px;
}

.menu-area a:hover {
	background: #d35400;
	color: #fff;
	border-radius: 24px;
}

.active {
	background: #d35400;
	color: #fff;
	border-radius: 24px;
}

.menu-area a:hover:after {
	transform: translateY(-50%) rotate(-35deg);
}

/* Fim do Menu */

/* Telinhas de Login/Cadastro *.* */

.boxform {
	width: 400px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #ecf0f1;
	text-align: center;
}

.boxform h1 {
	color: black;
	text-transform: uppercase;
	font-weight: 500;
}

.boxform a,h4 {
	color: black;
	font-size: 18px;
}

.boxform input[type = "email"],.boxform input[type = "password"] {
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #d35400;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25s; 
}

.boxform input[type = "email"]:focus,.boxform input[type = "password"]:focus {
	width: 280px;
	border-color: #f39c12;
}

.boxform input[type = "submit"] {
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #d35400;
	padding: 14px 40px;
	width: 200px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}

.boxform input[type = "submit"]:hover {
	background: #e67e22;
}

.box {
	color: black;
	width: 400px;
	padding: 40px 125px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #191919;
	text-align: left;
	word-spacing: 10px;
}

.boxt td,tr{
	border: 2px solid tomato;
}

.box h1 {
	color: white;
	text-transform: uppercase;
	font-weight: 500;
}

.boxtext {
	padding: 30px 90px;
	margin: 14px 14px;
	top: 15%;
	width: 800px;
	float: left;
}
/* Fim das Telinhas Login/Cadastro D: */

/* coisas da tabela na showdb.php */
  table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: Metropolis;
  }

  .table {
    border-bottom: #999999 solid 1px;
    width: 80%;
    margin-bottom: 20px;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .table th,
  .table td {
    border-right: #999999 solid 1px;
    font-size: 18px;
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: middle;
  }

  .table td:last-child {
     border-right: 0;
  }

  .table thead th {
    font-weight: normal;
    background-color: #005dab;
    color: #fff;
    font-size: 15px;
  }

  .table tbody > tr:nth-child(odd) > td,
  .table tbody > tr:nth-child(odd) > th {
    background-color: #f8f8f8;
  }


/* Tamanho dos dispo */
@media (max-width: 767px) { 
  
  /* Bagulho responsivo */
  .table-responsive {
    display: block;
    position: relative;
    width: 100%;
  }

  .table-responsive thead,
  .table-responsive tbody,
  .table-responsive th,
  .table-responsive td,
  .table-responsive tr {
    display: block;
  }
  .table-responsive td,
  .table-responsive th {
    height: 35px;
  }

  .table-responsive thead {
    float: left;
  }

  .table-responsive tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
  }

  .table-responsive tbody tr {
    display: inline-block;
  }

  
  .table td:last-child {
     border-right: #999999 solid 1px;
  }
  /* Fim das coisas da Tabela showdb.php*/

}