@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
	font-family: Metropolis;
}

body {
	-webkit-background-size:cover;
	background-size:cover;
	background-position: center center;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #ecf0f1;
}

.menu-area li a {
	text-decoration: none;
}

.menu-area li {
	list-style-type: none;
}

.custom-padding{
	padding-top: 25px;
}

nav {
	position: relative;
	width: calc(100% - 60px);
	margin: 0 auto;
	padding: 10px 0;
	background: #333;
	z-index: 1;
	text-align: right;
	padding-right: 2%;
}

.logo {
	width: 20%;
	float: left;
	text-transform: uppercase;
	color: #fff;
	font-size: 25px;
	text-align: left;
	padding-left: 2%;
}

.menu-area li {
	display: inline-block;
}

.menu-area a {
	color: #fff;
	font-weight: 300;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: block;
	padding: 0 25px;
	font-size: 14px;
	line-height: 30px;
	position: relative;
	z-index: 1;
}

.menu-area a:hover {
	background: #d35400;
	color: #fff;
}

.active {
	background: #d35400;
	color: #fff;
}

.menu-area a:hover:after {
	transform: translateY(-50%) rotate(-35deg);
}

nav:before {
	position: absolute;
	content: '';
	border-top: 10px solid #333;
	border-right: 10px solid #333;
	border-left: 10px solid transparent;
	border-bottom: 10px solid transparent;
	top: 100%;
	left: 0;
}

nav:after {
	position: absolute;
	content: '';
	border-top: 10px solid #333;
	border-left: 10px solid #333;
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
	top: 100%;
	right: 0;
}

.boxform {
	width: 400px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #191919;
	text-align: center;
}

.boxform h1 {
	color: white;
	text-transform: uppercase;
	font-weight: 500;
}

.boxform a,h4 {
	color: white;
	font-size: 18px;
}

.boxform input[type = "email"],.boxform input[type = "password"] {
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #d35400;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s; 
}

.boxform input[type = "email"]:focus,.boxform input[type = "password"]:focus {
	width: 280px;
	border-color: #f39c12;
}

.boxform input[type = "submit"] {
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #f39c12;
	padding: 14px 40px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}

.boxform input[type = "submit"]:hover {
	background: #e67e22;
}

.box {
	color: white;
	width: 400px;
	padding: 40px 125px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #191919;
	text-align: left;
	word-spacing: 10px;
}

.boxt td,tr{
	border: 2px solid tomato;
}

.box h1 {
	color: white;
	text-transform: uppercase;
	font-weight: 500;
}

.boxtext {
	padding: 30px 90px;
	margin: 14px 14px;
	top: 15%;
	width: 800px;
	float: left;
}

.googlebadge {
	position: absolute;
	margin-left: 80%;
	top:85%;
}